@{
    ViewData["Title"] = "Home Page";
}

<div>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownList("Countries")
        @if (ViewBag.countrycode != null)
        {
                    <Label id="CountryCode">@ViewBag.Countrycode</Label>
        }
            <input type = "submit" value="klik"/> <br />
    }

    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.TextBox("Country")<br />
        @Html.TextBox("Value") <br />

        <input type="submit" value=" Tilføj Land"/> <br /> 
    }



</div>
<div>

    <h1> Countries Viewbag HTML</h1> <br/>
    <select id="countries" name="countries">
        @foreach (SelectListItem li in ViewBag.Countries)
        {
                <option value = "@li.Value"> @li.Text</option>
        }
    </select>
</div>

